body {
    margin:100;
    padding:100;
    background:#d3d3d3
}
img {
    max-width: 1000;
    height: auto;   
}

.box {
    width:450px;
    background:#d3d3d3	;
    padding:50 px;
    text-align:center;
    margin:auto;
    margin-top:%5;
    color:#fff;
    font-family:sans-serif;
}
.box img {
    border-radius:%50;
    width:350px;
    height:350px;
    transition:0.5s;
    cursor:pointer;
}
.box img:hover {
    transform:scale(0.9);
}
.box h1 
{
    font-size:50px;
    letter spacing:6px;
    font-weight:100;
}
.box h5
{
    font-size:20px;
    font-weight:100;
    letter-spacing:3px;
}
.box p
{
     text-align:justify;
}
 ul 
{
   margin:0;
   padding:0;
}
.box li
{
    display:inline-block;
    margin:6px;
    list-style:none;
}
.box li a 
{
    color:white;
    font-size:60px;
    transition:all ease-in-out 250ms;
}
.box li a:hover 
{
    color:#d3d3d3;
}

